body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

@font-face {
  font-family: 'MujFont';
  src: url('BLADRMF_.TTF') format('truetype');
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #00000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7C3C12, #D98032);
  outline: 2px solid #ffffffd8;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  transition: background-color 0.1s;
}

header {
  background: linear-gradient(to right, #7C3C12, #D98032);
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  width: 70%;
  margin: 25px auto;
  border: 3px solid #fff;
  border-bottom: 8px solid #ffffff;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); 
}

header h1 {
  font-family: Mujfont;
  font-size: 40px;
  font-weight: bold;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
}

img[alt="Anna"] {
  background-color: rgba(255, 255, 255, 0.2); 
  width: 151px;
  position: absolute;
  left: 272px;
  top: 28px;
  border-radius: 30px;
}

img[alt="Ryan"] {
  background-color: rgba(255, 255, 255, 0.1); 
  width: 177px;
  position: absolute;
  right: 272px;
  top: 28px;
  border-radius: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 50px;
  border-radius: 20px;
  padding: 5px;
}

nav li:nth-child(1) {
  background: linear-gradient(to right,#D98032 ,#7C3C12 );
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); 
}

nav li:nth-child(2) {
  background:#7C3C12;
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); 
}

nav li:nth-child(3) {
  background: linear-gradient(to right,#7C3C12 ,#D98032 );
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); 
}

nav a {
  text-decoration: none;
  color: #59075f;
  font-size: 18px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.575);
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.5s;
  -webkit-text-stroke: 0.4px #000000;
}

nav a:hover {
  color: #D98032;
  font-weight: bold;
  font-size: larger;
  padding: 5px 25px;
}

main {
  padding: 20px;
  background-color: #4d4d4d;
  border-radius: 30px;
}

img[alt="Blade"] {
  width: 750px;
  position: absolute;
  right: 75px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

img[alt="Blade"]:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 5px solid #D98032;
}

.section1 h1 {
  font-size: 36px;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
  position: relative;
  background: linear-gradient(to right,#D98032 ,#7C3C12 );
  display: inline;
  padding: 5px;
  border-radius: 20px;
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.section1 p {
  background-color: #404040;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.22); 
  -webkit-text-stroke: 0.3px #000000;
  color: #D98032;
  font-size: 24px;
  text-shadow: -1px 5px 4px #7C3C12;
  line-height: 1;
  max-width: 650px; 
  margin: 0; 
}

.section2 h1 {
  font-size: 36px;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
  position: relative;
  background: linear-gradient(to right,#D98032 ,#7C3C12 );
  display: inline;
  padding: 5px;
  border-radius: 20px;
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.section2 p {
  background-color: #404040;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.22);
  -webkit-text-stroke: 0.3px #000000; 
  color: #D98032;
  font-size: 24px;
  text-shadow: -1px 5px 4px #7C3C12;
  line-height: 1;
  max-width: 650px; 
  margin: 0; 
}

.section3 h1 {
  font-size: 36px;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
  position: relative;
  background: linear-gradient(to right,#D98032 ,#7C3C12 );
  display: inline;
  padding: 5px;
  border-radius: 20px;
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.section3 p {
  background-color: #404040;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.22);
  -webkit-text-stroke: 0.3px #000000; 
  color: #D98032;
  font-size: 24px;
  text-shadow: -1px 5px 4px #7C3C12;
  line-height: 1;
  max-width: 1500px; 
  margin: 0; 
}

.section4 h1 {
  font-size: 36px;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
  position: relative;
  background: linear-gradient(to right,#D98032 ,#7C3C12 );
  display: inline;
  padding: 5px;
  border-radius: 20px;
  outline: 2px solid #ffffffd8;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.section4 p {
  background-color: #404040;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.22);
  -webkit-text-stroke: 0.3px #000000; 
  color: #D98032;
  font-size: 24px;
  text-shadow: -1px 5px 4px #7C3C12;
  line-height: 1;
  margin: 0;
  max-width: 1500px;
}

footer {
  background: linear-gradient(to right, #7C3C12, #D98032);
  width: 85%;
  margin: 10px auto;
  text-align: center;
  padding: 7px;
  border: 3px solid #fff;
  border-top: 8px solid #ffffff; 
  border-radius: 30px; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
}

footer p {
  font-size: 30px;
  font-weight: bold;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
}

footer p[alt="R"]{
font-family: MujFont;
}

footer p[alt="Lit"] {
  font-size: 20px;
  font-weight: bold;
  color: #D98032;
  text-shadow: -1px 5px 4px #7C3C12;
  -webkit-text-stroke: 1.25px #000000;
}

audio[alt="Ad"] {
  display: block;
  margin: 0 auto; 
  background: linear-gradient(to right, #7C3C12, #D98032);
  padding: 10px;
  border: 3px solid #ccc;
  border-top: 8px solid #ffffff;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
  color: #000000;
  text-align: center;
}